body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 340px;
  padding: 30px;
  background: #111827;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 40px rgba(0,191,255,0.2);
  transition: 0.3s;
}

.box.active {
  display: flex;
}

h1 {
  margin: 0;
  font-size: 28px;
}

span {
  color: #94a3b8;
  font-size: 14px;
}

input, textarea {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1f2933;
  color: white;
}

textarea {
  height: 90px;
  resize: none;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #00BFFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  background: #009acd;
}

.grid {
  display: grid;
  gap: 10px;
}

.grid div {
  padding: 15px;
  background: #1f2933;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.grid div:hover {
  background: #00BFFF;
}

#result {
  color: #00ffcc;
  font-size: 14px;
}
